<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head"); %>
</head>

<body class="container">
  <header>
    <%- include("../partials/header",{title:"Riley Paul"}); %>
  </header>

  <main class="masonry">
    <% if (albums) { %>
      <% for ( const [key,album] of Object.entries(albums)) { %>
        <figure class="brick">
          <img src=<%= album.cover %> alt="">
          <a href=<%= album.link %>>
            <div class="text-overlay">
              <h2><%= album.name %></h2>
              <h3>— view —</h3>
            </div>
          </a>
        </figure>
          <% } %>
            <%} %>
  </main>

</body>

</html>